body {
    margin: 0;
    padding: 0;
    background-color: #E3B505;
    height:100%;
}
nav {
    width: 100%;
    background: #084C61;
    overflow: auto;
}
nav a {
    width: 110px;
    display:block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:#f2f2f2;
    text-align: center;
}
nav a:hover  {
    background:#4F6D7A;
    transition:0.5s;
    text-transform: uppercase;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 150px;
}
li {
    float: left;
}
/* Aktiivinen linkki */
.active {
    background:#4F6D7A;
    text-transform: uppercase;
}
.logo img {
    position: absolute;
    margin-top:15px;
    margin-left: 10px;
    width: 125px;
    height: 27px;
}
a {
    text-decoration: none;
    color:#f2f2f2;
}
#map {
    margin: 1% auto;
    width:90%;
    height:750px;
    text-align: center;
}
figure {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 50px;
}
figure p {
    padding: 0 10px;
}
figure img {
    padding: 0 10px;
}
/* Footteri */
  footer {
      border: black solid 1px;
      width:100%;
      height: 107px;
      background:#56A3A6;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      color:#f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

}


footer a:hover  {
    background:#4F6D7A;
    transition:0.5s;
}
@media only screen and (max-width: 600px) {
    figure {
        padding: 0;
    }
}
