/* Älä lisää mitään tähän alle! Allaoleva CSS on navigointipalkin, joka toistuu joka ikisellä sivulla. Scrollaa alaspäin. */

nav {
    width: 100%;
    background: #084C61;
    overflow: auto;
    margin-bottom: 10px;
}

nav a {
    width: 110px;
    display:block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:#f2f2f2;
    text-align: center;
}

nav a:hover  {
    background:purple;
    transition:0.5s;
    text-transform: uppercase;
}

.logo img {
    position: absolute;
    margin-top:15px;
    margin-left: 10px;
    width: 125px;
    height: 27px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 150px;
}

li {
    float: left;
}

/* Kaikki ylläoleva on joka sivulla toistuvan navigointipalkin CSS. */
/* Tästä eteenpäin saa kirjotella vapaasti. */

* {
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color:#f2f2f2;
}

html {
    overflow-y: scroll;
}
body {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #E3B505;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kuvaJaOtsikko {
    text-align: center;
    position: relative;
}

main img {
    width: 80%;
    height: auto;
}

.kuvaJaOtsikko p {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

.hoveri {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
    height: 88%;
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
} /* Halutun alueen muuttaminen tietyksi väriksi kun hiiri viedään päälle. */

.kuvaJaOtsikko:hover .hoveri {
    opacity: 90%;
} /* Miten läpinäkyvä hoveri on. */

.teksti {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
} /* Teksti hoverialueen sisällä. */

.tyhja {
    clear: both;
    height: 55px;
} /* Alapalkin yllä oleva tyhjä, näkymätön tila. */
/* Tämä estää ettei sivun alimpana oleva materiaali piiloudu osittain footerin taakse. */

footer {
    height: 45px;
    bottom: 0;
    position: absolute;
    width: 100%;
    border: black solid 1px;
    background:#56A3A6;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:#f2f2f2;
} /* Alapalkki. */